        </div>

        <!-- DIVIDER -->
        <!-- <div class="b-example-divider"></div> -->
        <!-- SECTION 2 -->
        <!-- <div class="d-flex gap-5 justify-content-center main-areas">

        </div> -->

        <!-- DIVIDER -->
        <!-- <div class="b-example-divider"></div> -->
        <!-- SECTION 3 -->
        <!-- <div class="d-flex gap-5 justify-content-center main-areas">

        </div> -->

        <!-- DIVIDER -->
        <div class="b-example-divider"></div>

        </div>
      </div>
    </div>

    <script 
      src="/js/main.js"></script>

    <!-- FOOTER -->
    <footer class="admin-footer navbar navbar-inverse align-center footer">
      <p class="admin-para tm-copyright-text">
        &copy; LemonAide
        <i class="far fa-lemon"
          style="margin-left: 5px; margin-right: 5px; color: yellow"></i>
        Designs - Shopping Cart 2022
      </p>
    </footer>

  </body>
</html>