      </div>

      <!-- DIVIDER -->
      <div class="b-example-divider"></div>
      <!-- SECTION 2 -->
      <div class="d-flex gap-5 justify-content-center main-areas">

      </div>

      <!-- DIVIDER -->
      <div class="b-example-divider"></div>
      <!-- SECTION 3 -->
      <div class="d-flex gap-5 justify-content-center main-areas">

      </div>

      <!-- DIVIDER -->
      <div class="b-example-divider"></div>

    </div>

    <!-- FOOTER -->
    <footer class="navbar navbar-inverse align-center footer">
      <p class="tm-copyright-text">
        &copy; LemonAide
        <i
          class="far fa-lemon"
          style="margin-left: 5px; margin-right: 5px; color: yellow"></i>
          Designs - Shopping Cart 2022
      </p>
    </footer>

  </body>
</html>